$primary-color: #3f51b5;
$primary-color-dark-1: #3f51b5;

$color-1: #eceff0;
$color-2: #e74c3c;
$color-3: #44cc70;
$color-4: #34495e;
$color-5: #ebebeb;
$color-6: #8d8d8d;
$color-7: #63d1bb;

$btn-red: $color-2;
$btn-green: $color-3;

$bg-color-list : rgba(245, 138, 84, 0.7), rgba(249, 7, 47, 0.7), rgba(66, 184, 131, 0.7), rgba(62, 100, 255, 0.7), rgba(231, 76, 60, 0.7), rgba(129, 5, 216, 0.7);