@import "../../styles/colors";

.btn{
    color: #fff;
    border: none;
    outline: none;
    padding: .5rem 1rem;
}
.btn-red {
  background-color: $btn-red;
}
.btn-green {
  background-color: $btn-green;
}
