@import '../../styles/colors';

.left-panel {
    flex: 2;
}

.product-label {
    display: flex;
}

.wide-div{
    padding: .5rem;
    flex: 2;
}
.fx-1{
    padding: .5rem;
    flex: 1;
}
.added-products{
    height: 400px;
    overflow-y: scroll;
}
.no-product {
    background: #fff;
    text-align: center;
    padding: 2rem 1rem;
}

.tax-and-total{
    margin: 1rem;
}

.tat-item {
    display: flex;
    border-top: 2px solid $color-5;
}


.tat-heading {
    background: #f5f5f5;
    padding: .5rem;
    flex: 2;
}

.tat-data {
    flex: 3;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

}

.inp-grey{
    background: $color-5;
    border: none;
    width: 6rem;
    padding: .125rem .5rem;
}
.total-amount{
    color: $color-7;
    font-weight: bold;
}
.btn-wrapper{
    display: flex;
}
.btn{
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    &-red{
        background-color: $btn-red;
        flex: 1;
        margin-right: .5rem ;
    }
    &-green {
        background-color: $btn-green;
        flex: 1;
      }
}
