@import '../../styles/colors';
.right-panel {
  flex: 3;
  margin-left: .25rem;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-wrap {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 300;
  margin: 1rem ;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  &:hover{
    .product-price,.product-category{
      display: block;
    }
  } 
}

.product-image {
  position: absolute;
  top: 0;
  z-index: -10;
  img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
}
.color-film{
    position: absolute;
    border-radius: 10px;
    z-index: -5;
    width: 100px;
    height: 100px;
    background: rgba(54, 37, 209, .5);
}
@for $i from 1 through length($bg-color-list) { 
  .bg-#{$i}{
    background: nth($bg-color-list,$i);
  }
}
.product-price, .product-category{
  display: none;
}
